extends ./layout

block content  
	
	.col-md-6.col-sm-8
		h4 How it works:
		ul
			li
				
				p PDX Outdoor Trips is a private announcement mailing list for finding and organizing hiking, camping, and other outdoor trips in the Portland area.

			li
				p Once added to the list, members can announce or suggest trips by sending an e-mail to 
					a(href='mailto:announce@pdxoutdoortrips.com') announce@pdxoutdoortrips.com
					|, which will then be forwarded to everyone on the list who is currently subscribed.

			li
				p Members can unsubscribe and resubscribe from future e-mails on the 
					a(href='/settings') settings 
					| page.

			li
				p To report abuse, provide feedback, or receive general support, please e-mail 
					a(href='mailto:support@pdxoutdoortrips.com') support@pdxoutdoortrips.com
					| .
