doctype html
html(lang="en")
  body
    p Hi!

    p Your PDX Outdoor Trips settings were recently changed, indicating you would like to 
      if action.inactive
        | leave the group. 
      else if action.subscribed
        | resubscribe. 
      else
        | unsubscribe. 

      | Please visit the link below to confirm your settings. If you do not wish to change your settings, no action is required.

    p
      a(href=nonceLink)= nonceLink

    p Thanks,
      | <br />Grant