extends ./layout

block content  
	
	.col-md-6.col-sm-8
		h4 Member Settings
		form(method='post' id='settings_form')

			.form-group
				input#email.form-control(type='email' name='email' placeholder='Your e-mail address')

			.form-group
				.radio
					label
						input(type='radio' name='action' value='unsubscribe' checked='true')
						span Unsubscribe from trip announcement e-mails 
						i.fa.fa-question-circle(data-toggle='tooltip' title='Members can resubscribe anytime')

				.radio
					label
						input(type='radio' name='action' value='subscribe')
						span Resubscribe to trip announcement e-mails 
						i.fa.fa-question-circle(data-toggle='tooltip' title='Must be a current member')

				.radio
					label
						input(type='radio' name='action' value='deactivate')
						span Leave PDX Outdoor Trips (cannot be undone)

			.form-group
				button#submit_button.btn.btn-primary(type='submit')
					i.fa.fa-spinner.fa-pulse(style='display:none;')
					span Send confirmation e-mail			

	script.
		$(function () {
			$('[data-toggle="tooltip"]').tooltip();

			$("#settings_form").submit(function(e){
				e.preventDefault();

				if ($('#email').val().length > 0) {
					$('#email').parent().removeClass('has-error');
					$('#submit_button').prop( 'disabled', true );
					$('#submit_button .fa-spinner').show();
					var form = this;
					form.submit();
				} else {
					$('#email').parent().addClass('has-error');
				}
				
			});
		});
