extends ./layout

block content  
	
	.col-md-6.col-sm-8
		h4 E-mail Confirmation Sent!
		p You should receive a confirmation e-mail shortly. Please follow the link in the e-mail to confirm your settings. If you do not receive a confirmation e-mail, please e-mail 
			a(href='mailto:support@pdxoutdoortrips.com') support@pdxoutdoortrips.com
			| .
		