| Hi!
|
| Your trip announcement, 
=tripSubject
| , has been sent to all subscribed PDX Outdoor Trips members.
|
| Replies will be sent only to you. It is your choice how to organize the replies.
|
| Your announcement has been included below.
|
| Thanks,
| Grant
|
!=originalBodyText