doctype html
html(lang="en")
  body
    p You are receiving this e-mail because you are currently subscribed to PDX Outdoor Trips. To change your settings, please visit 
      a(href=siteLink)= siteLink
      | .

    p Sent from 
      =from
      | :

    p
      !=originalBodyHtml