doctype html
html(lang="en")
  body
    p Hi!

    p Your trip announcement, 
      =tripSubject
      | , has been sent to all subscribed PDX Outdoor Trips members.

    p Replies will be sent only to you. It is your choice how to organize the replies.

    p Your announcement has been included below.

    p Thanks,
      | <br />Grant

    p
      !=originalBodyHtml