extends ./layout

block content  

  style(type="text/css").

    .alert:empty {
      display: none;
    }

    label.btn:not(.active) > i {
      visibility: hidden;
    }
    
  .alert.alert-success(role='alert')= successMessage
  .alert.alert-danger(role='alert')= errorMessage

  .pull-right
      span#show_add.btn.btn-primary +

      form#add_form.form-inline(method='post', style='display:none;')
        .form-group
          input#email.form-control(type='email', name='email' placeholder='E-mail')

        .form-group
          .btn-group(data-toggle='buttons')
            label.btn.btn-default(style='display:none;') Blacklist 
              i.fa.fa-check
              input(type='checkbox', name='flags[]', value='blacklisted')
            label.btn.btn-default(style='display:none;') Inactive 
              i.fa.fa-check
              input(type='checkbox', name='flags[]', value='inactive')
            label.btn.btn-default.active Subscribed 
              i.fa.fa-check
              input(type='checkbox', name='flags[]', value='subscribed', checked='true')

        .form-group
          input(type='hidden', name='action' value='add')
          input.btn.btn-primary(type='submit', value='Add Member')

  p
    table.table.table-condensed.table-striped.table-responsive
      thead
        th(style='text-align:center;') Created
        th(style='text-align:center;') E-mail
        th(style='text-align:center;') Blacklisted
        th(style='text-align:center;') Inactive
        th(style='text-align:center;') Subscribed

      tbody
        each member in members
          tr
            td= member.creationDate

            td
              a(href=member.detailUrl)
                strong= member.email
            
            if member.blacklisted
              td(style='text-align:center;')
                form(method='post' style='display: inline-block;')
                  input(type='hidden', name='action' value='unblacklist')
                  input(type='hidden', name='id' value=member._id)
                  input.btn.btn-primary(type='submit', value='Unblacklist')
              td
              td

            else 
              td(style='text-align:center;')
                form(method='post' style='display: inline-block;')
                  input(type='hidden', name='action' value='blacklist')
                  input(type='hidden', name='id' value=member._id)
                  input.btn.btn-default(type='submit', value='Blacklist')

              if member.inactive
                td(style='text-align:center;')
                  form(method='post' style='display: inline-block;')
                    input(type='hidden', name='action' value='activate')
                    input(type='hidden', name='id' value=member._id)
                    input.btn.btn-primary(type='submit', value='Activate')
                td

              else
                td(style='text-align:center;')
                  form(method='post' style='display: inline-block;')
                    input(type='hidden', name='action' value='deactivate')
                    input(type='hidden', name='id' value=member._id)
                    input.btn.btn-default(type='submit', value='Deactivate')

                if member.subscribed
                  td(style='text-align:center;')
                    form(method='post' style='display: inline-block;')
                      input(type='hidden', name='action' value='unsubscribe')
                      input(type='hidden', name='id' value=member._id)
                      input.btn.btn-default(type='submit', value='Unsubscribe')
                else
                  td(style='text-align:center;')
                    form(method='post' style='display: inline-block;')
                      input(type='hidden', name='action' value='subscribe')
                      input(type='hidden', name='id' value=member._id)
                      input.btn.btn-primary(type='submit', value='Subscribe')

    nav
      ul.pager
        li
          a(style='display:none;') Previous
        li
          a(style='display:none;') Next 

  script.
    $(function () {

      $('#show_add').click(function(){
        $('#show_add').hide();
        $('#add_form').show();
        $('#email').focus();
      });

      $('#add_form').submit(function(e){
        e.preventDefault();

        if ($('#email').val().length > 0) {
          $('#email').parent().removeClass('has-error');
          //$('#submit_button').prop( 'disabled', true );
          //$('#submit_button .fa-spinner').show();
          var form = this;
          form.submit();
        } else {
          $('#email').parent().addClass('has-error');
        }
        
      });
    });
    
