doctype html
html(lang="en")
  body
    p Hi!

    p You are now a member of PDX Outdoor Trips, a private announcement mailing list for finding and organizing hiking, camping, and other outdoor trips in the Portland area.

    p To learn more or to change your settings, please visit 
      a(href=siteLink)= siteLink
      |.

    p If you notice a bug, typo, or something that could be better, please report it to <a href="mailto:support@pdxoutdoortrips.com">support@pdxoutdoortrips.com</a>.

    p Thanks,
      | <br />Grant