| Hi!
|
| You are now a member of PDX Outdoor Trips, a private announcement mailing list for finding and organizing hiking, camping, and other outdoor trips in the Portland area.
|
| To learn more or to change your settings, please visit 
=siteLink
|.
|
| If you notice a bug, typo, or something that could be better, please report it to support@pdxoutdoortrips.com.
|
| Thanks,
| Grant